.button {
  width: 100%;
  font-family: var(--font-main), sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  font-size: 1.125rem;
  color: white;
}

.button:disabled {
  background-color: transparent;
  border: 1px solid var(--color-disabled-button);
  color: var(--color-disabled-button);
}

.primary {
  background-color: var(--color-bg-button-primary);
  white-space: nowrap;
  padding: 0.75rem 0;
}

.secondary {
  background-color: var(--color-bg);
  box-shadow: 0 9px 40px 0 #ff6b000f;
  padding: 1.25rem 0;
}

.outline {
  background-color: transparent;
  color: var(--color-bg-button-primary);
  border: 1px solid var(--color-bg-button-primary);
  padding: 0.75rem 0;
  font-weight: 400;
}

.circle {
  border-radius: 50%;
}
