.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  max-width: 469px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.link {
  font-size: 1.125rem;
  color: var(--color-text);
}

.button {
  max-width: 136px;
  width: 100%;
}
