.home {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  flex-wrap: wrap;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 23px;
  max-width: 590px;
}

.title {
  font-size: clamp(48px, calc(40.281px + 2.412vw), 70px);
  color: var(--color-title);
  margin-bottom: 7px;
  font-weight: 800;
}

.text {
  max-width: 411px;
  font-size: clamp(14px, calc(12.571px + 0.446vw), 19px);
}

.textAccent {
  color: white;
}

.textBottomContainer {
  display: flex;
  flex-direction: column;
  gap: 58px;
}

@media screen and (max-width: 768px) {
  .textBottomContainer {
    flex-direction: column-reverse;
  }
}

.videoContentContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.videoContainer {
  position: relative;
  max-width: 272px;
  aspect-ratio: 272 / 193;
  overflow: hidden;
  border-radius: 23px;
  background-color: black;
}

.videoElement {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/cookingprocess.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.videoPoster,
.videoElement {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.playButton {
  box-sizing: border-box;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  border: 3px solid var(--color-accent);
  background: #1d0800;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    background-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.playButton:hover {
  transform: scale(1.1);
  background-color: #f0f0f0;
}

.playIcon {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 20px solid var(--color-accent);
  margin-left: 5px;
}

.bannerContainer {
  max-width: 456px;
  width: 100%;
  flex: 1;
  aspect-ratio: 456/683;
}

.bannerImg {
  position: relative;
  width: 100%;
  border-radius: 46px;
}

.bannerImg img {
  display: block;
  width: 100%;
  border-radius: 46px;
  z-index: 0;
}

.bannerImg::before {
  content: '';
  position: absolute;
  bottom: -80px;
  left: -150px;
  max-width: 250px;
  width: 100%;
  aspect-ratio: 212/226;
  z-index: 2;
  background-image: url('/fries1.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bannerImg::after {
  content: '';
  position: absolute;
  top: -120px;
  right: -100px;
  max-width: 251px;
  width: 100%;
  aspect-ratio: 251/251;
  z-index: 2;
  background-image: url('/pizza1.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.buttons {
  display: flex;
  align-items: center;
  max-width: 388px;
  width: 100%;
}

.primaryWrapper {
  max-width: 229px;
  width: 100%;
  z-index: 2;
  margin-right: -40px;
}

.secondaryWrapper {
  box-sizing: border-box;
  max-width: 229px;
  width: 100%;
  z-index: 1;
}

@media (max-width: 990px) {
  .home {
    flex-direction: column-reverse;
    align-items: center;
    gap: 70px;
    padding: 30px 0;
  }
  .bannerContainer {
    max-width: 243px;
  }
  .bannerImg::before {
    max-width: 110px;
    bottom: -40px;
    left: -60px;
  }
  .bannerImg::after {
    max-width: 129px;
    right: -40px;
    top: -60px;
  }
}

@media screen and (max-width: 768px) {
  .buttons {
    max-width: 276px;
  }
  .textBottomContainer {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .videoContentContainer {
    gap: 8px;
  }
  .primaryWrapper {
    margin-right: -30px;
  }
}
